@model AlbumListeModelView

@if (Model.AlbumDtos == null)
{
	<partial name="~/Views/Album/PartialViews/_AlbumListe.cshtml" model="Model" />
}
else
{
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Album.Ad)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Album.Sanatci)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.AlbumDtos)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Ad)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Sanatci)
					</td>
				</tr>
			}
		</tbody>
	</table>
}
